<div class="notif-manager">
  <div class="notif-manager__count">
    Items Count: {{itemsCount$ | async}}
  </div>
  <div class="notif-manager__actions">
    <button (click)="addNotification()" class="notif-manager__actions__button">
      Add Item
    </button>
    <button (click)="removeNotification()" class="notif-manager__actions__button">
      Remove Item
    </button>
    <button (click)="resetCount()" class="notif-manager__actions__button">
      Reset Count
    </button>
  </div>
</div>
